# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment settings and virtual environments
.env
.venv/
*.env

# Ignore IDE files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore database files
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore static and media files
staticfiles/
media/

# Ignore migrations if not needed to track
**/migrations/
